@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

.customheader {
  font-family: 'Coming Soon', cursive;
  font-size: 25px !important;
}

/*Vertically center button on welcome screen - removed due to layout issues*/
/*.row, .scroll {
  height: 100%;
}*/
